doctype html
html
    head
        link(rel='icon', type="image/x-icon", href="favicon.ico")
        title= "Rloud监控云平台"
        link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/lib/bootstrap-material-design/dist/css/material-fullpalette.min.css')
        link(rel='stylesheet', href='/css/main.css')

    body
        block content
        script(src='/lib/jquery/dist/jquery.min.js')
        script(src='/lib/bootstrap-material-design/dist/js/material.min.js')
        script(src='/js/index.js')
