@import "variables";

:global {
    .add-device-container {
        padding: 20px 0;
        border-top: 1px solid #dfdfdf;
        background: #fff;

        .step-bar {
            width: 640px;
            margin: 20px auto;
        }

        .add-device-content {
            width: 640px;
            margin: 40px auto 20px;
        }

        .data-item {
            margin-bottom: 12px;

            &-name {
                width: 300px;
            }

            &-add {
                margin-left: 10px;
            }

            &-del{
                color: $error-color;
                margin-left: 10px;
            }
        }
    }
}