@import "deviceListContainer";
@import "addDeviceContainer";
@import "deviceDataContainer";
@import "dataContent";

:global {
    body {
        background: #fff;
    }

    .text-center {
        text-align: center;
    }

    .text-left {
        text-align: left;
    }

    .text-right {
        text-align: right;
    }


    // font-face
    // @icon-url： 字体源文件的地址
    @font-face {
        font-family: 'anticon';
        src: url('//127.0.0.1:3333/css/font_1461567603_8950496.woff') format('woff'); /* chrome、firefox */
    }
}