extends ../common/layout

block content
    div#_react_app
    script __REACT_DEVTOOLS_GLOBAL_HOOK__ = parent.__REACT_DEVTOOLS_GLOBAL_HOOK__
    script(src="/socket.io/socket.io.js")
    script(src="http://127.0.0.1:8000/assets/bundle.js")


